@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Austin, TX<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ryan.rauch@outlook.com">ryan.rauch@outlook.com</a><br />
</address>
